/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
   --font-family: sans-serif;
   --fsize: 1em;
   font-size: var(--fsize);
}
/*
:root,
:host,
.sl-theme-light::part() {
  --sl-line-height-normal: 1.0;
}
*/
html,
body {
   /*font-family: var(--font-family); */
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
   padding: 0;
   margin: 0;
   font-size: var(--fsize);
   overscroll-behavior: none; /* kein pull to refresh , kein reload bei Ziehen mit Finger von oben nach unten */
}

@media (prefers-color-scheme: dark) {
   html,
   body {
      /*
    background-color: #181818;
    color: white;
*/
      background-color: #f5f5f5;
      color: black;

      font-size: 1rem;
   }

   button,
   select {
      font-size: 0.875rem;
      /*1rem;*/
      border-radius: 4px;
      border-width: 1px;
      /* border-color: #303030;
    color: #f4efef; */
      border-color: #43434a;
      color: #b6b6be;
      background-color: #1a1a1e;
      padding: 0.4rem;
   }

   button:active {
      background-color: hsl(198.4 93.2% 59.6%);
   }

   #id_color_table_in,
   #id_color_table_out,
   #id_fontsize,
   .input_tab {
      border-color: #43434a;
      color: #b6b6be;
      background-color: #1a1a1e;
   }
}

@media (prefers-color-scheme: light) {
   html,
   body {
      background-color: #f5f5f5;
      color: black;
      font-size: 1rem;
   }

   button,
   select {
      font-size: 0.875rem;
      /*1rem;*/
      border-radius: 4px;
      border-width: 1px;
      background-color: #ffffff;
      border-color: #d4d4d8;
      color: #444444;
      padding: 0.4rem;
   }

   button:active {
      background-color: hsl(198.4 93.2% 59.6%);
   }

   #id_color_table_in,
   #id_color_table_out,
   #id_fontsize,
   .input_tab {
      border-color: #d4d4d8;
      color: #444444;
      background-color: #ffffff;
   }
}

p {
   padding-left: 5px;
   font-size: 1rem;
}

div {
   font-size: 1rem;
}

#id_color_table_in,
#id_color_table_out,
#id_fontsize {
   font-size: 0.875rem;
   border-radius: 4px;
   border-width: 1px;
   padding: 0.4rem;
   min-width: 100%;
}

table {
   border: none;
   border-spacing: 1px;
   padding: 0.3125rem;
   margin: 0.3125rem;
   font-size: 1rem;
}

/* Style the footer */
.footer {
   grid-area: footer;
   background-color: #f1f1f1;
   margin: 0;
   padding: 0;
   text-align: center;
   font-size: 0.7rem;
}

input {
   font-size: 1rem;
   width: 3.125rem;
   margin: 0;
   padding: 1px;
}

.input_tab {
   width: 5rem;
   font-size: 0.875rem;
   border-radius: 4px;
   border-width: 1px;
   padding: 0.4rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type='number'] {
   -moz-appearance: textfield;
}

.output_container {
   width: 96%;
   border: 0px solid #ffffff;
   margin: 0px;
   padding: 0px;
   margin-left: 2%;
}

#output {
   /*width: calc(100%-5px);*/
   width: 100%;
   height: 100%;
   font-size: 0.875rem;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
      Verdana, Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
   padding-left: 0px;
   border-width: 0;
}

.output_table td,
.output_table th {
   padding: 0px;
   padding-top: 3px;
   padding-bottom: 3px;
   margin: 0px;
   width: 6rem;
}

.table_cell_center {
   text-align: center;
   background-color: coral;
}

.table_cell_right {
   text-align: right;
   padding-right: 1rem;
   background-color: #cbcbcf80;
}

.table_cell_mitte {
   text-align: center;
   padding-right: 1rem;
   background-color: #cbcbcf80;
}

#id_grafik_group {
   position: absolute;
   top: 2px;
   /* var(--abst_gl_v);*/
   left: 15.625rem;
   z-index: 90;
   margin: 0;
   padding: 0;
   font-size: 1rem;
}

#id_div_select_lc {
   /*position: relative;
  top: 2px;
   var(--abst_gl_v);
  left: 250px; */
   z-index: 90;
   margin: 0;
   padding: 0;
   font-size: 1rem;
}

#id_select_loadcase {
   font-size: 1rem;
   width: 9.375rem;
   background-color: #181818;
   color: #f1f1f1;
   margin: 0;
   padding: 4px;
   height: 2rem;
}

#id_div_select_eigv {
   /*position: relative;
  top: 2px;
   var(--abst_gl_v);
  left: 405px;*/
   z-index: 90;
   margin: 0;
   padding: 0;
   font-size: 1rem;
}

#id_button_copy_svg {
   /*position: relative;
  top: 2px;
   left: 560px; */
   z-index: 90;
   margin: 0;
   padding: 4px;
   font-size: 1rem;
   width: 5rem;
   background-color: #181818;
   color: #f1f1f1;
   height: 2rem;
}

#id_select_eigenvalue {
   font-size: 1rem;
   width: 9.375rem;
   background-color: #181818;
   color: #f1f1f1;
   margin: 0;
   padding: 4px;
   height: 2rem;
}
#panel_gui {
   position: absolute;
   top: 2px;
   /* var(--abst_gl_v);*/

   left: 2px;
   z-index: 90;
   margin: 0;
   padding: 0;
   background-color: brown;
   font-size: 1rem;
}

#id_grafik {
   /*position: relative;*/
   margin: 0px;
   padding: 0px;
   /*z-index: 1000;*/
   /*background-color: #bbb*/
   background-color: #d8d8d8;
   /*background-color: blueviolet;*/
}

.lil-gui {
   --width: 15rem;
   --widget-height: 1.75rem;
   --font-size: 1rem;
   /*14px;*/
   --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif, Verdana, Arial, Helvetica, sans-serif;
   --margin: 0;
   --padding: 0.3125rem;
   --spacing: 0.125rem;
   --name-width: 70%;
   --slider-input-width: 1.4rem;
   /* Zahleneingabe */
   --slider-input-min-width: 1.4rem; /*30px */
   --title-background-color: #b3ae00;
   --title-text-color: #fefffa;
   --folder-indent: 0.625rem;
   --input-font-size: 0.75rem;
   --widget-padding: 0 0 0 0.1875rem;
}

.lil-gui.allow-touch-styles {
   --widget-height: 1.75rem; /* 28px */
   --padding: 0px;
   --spacing: 0.125rem;
   --margin: 0;
   --font-size: 1rem; /*14px*/
   --input-font-size: 0.75rem; /*12px;*/
   --slider-input-width: 1.4rem;
   --slider-input-min-width: 1.4rem;
   --folder-indent: 0.625rem;
}

#id_einstellungen {
   padding: 0;
   margin: 0;
   padding-left: 5px;
   background-color: #d8d8d8;
   /*background-color: darkkhaki;*/
}

.c_hilfe {
   /*text-align: left;*/
}

#id_button_zurueck_grafik {
   position: absolute;
   top: 50px;
   left: 2px;
   z-index: 5;
   margin: 0;
   padding: 0.3125rem;
   font-size: 1rem;
   width: 5.3rem;
   background-color: #181818;
   color: #f1f1f1;
}

.confirm-dialog-button {
   background-color: rgb(234, 231, 231);
   color: #1a1a1e;
   border: 1px solid #444;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1rem;
   padding: 0.75rem 1rem;
   min-width: 5rem;
}

.confirm-dialog {
   max-width: 25rem;
   padding: 1rem;
   width: 60vw;
   border: 2px solid #444;
   border-radius: 6px;
   background: rgba(255, 251, 240);
   color: #1a1a1e;

   &::backdrop {
      background-color: rgba(0, 0, 0, 0.3);
   }
}

.confirm-dialog-question {
   font-size: 1rem;
   font-style: italic;
   font-weight: 600;
   color: #1a1a1e;
}

.confirm-dialog-button-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   margin: 1rem -1rem -1rem;

   > * {
      margin: 1rem;
   }
}

/*Festlegung im Default-Stylesheet der Browser*/
.confirm-dialog:not([open]) {
   display: none;
}

.btn {
   background-color: DodgerBlue;
   border: none;
   color: white;
   padding: 0.4375rem 0.75rem;
   font-size: 1rem;
   cursor: pointer;
   margin-left: 1rem;
   margin-bottom: 0.1875rem;
   margin-top: 0.1875rem;
   border-radius: 3px;
}

/* Darker background on mouse-over */
.btn:hover {
   background-color: RoyalBlue;
}

/*
.output_table_ein {
  border-spacing: 1px 0px;
}
*/
.output_table_ein td,
.output_table_ein th {
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   margin: 0px;
   min-width: 2rem;
   line-height: 1.3;
   vertical-align: middle;
}

.table_ein_cell_center {
   text-align: center;
   background-color: rgb(255, 229, 80);
}

.table_ein_cell_right {
   text-align: right;
   padding-right: 1rem;
}

#div_add_cross_section {
   /* display: 'flex'; */
   align-items: 'center';
   background-color: '#ff0000';
   color: '#ff0000';
   border: '0px';
}

#div_add_cross_section:focus {
   background-color: '#ff0000';
}
#div_add_cross_section:active {
   background-color: '#ff0000';
}