
.lil-gui {
  --width: 15rem;
  --widget-height: 1.75rem;
  --font-size: 1rem;
  /*14px;*/
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif, Verdana, Arial, Helvetica, sans-serif;
  --margin: 0;
  --padding: 0.3125rem;
  --spacing: 0.125rem;
  --name-width: 70%;
  --slider-input-width: 1.4rem;
  /* Zahleneingabe */
  --slider-input-min-width: 1.4rem; /*30px */
  --title-background-color: #b3ae00;
  --title-text-color: #fefffa;
  --folder-indent: 0.625rem;
  --input-font-size: 0.75rem;
  --widget-padding: 0 0 0 0.1875rem;
}

.lil-gui.allow-touch-styles {
  --widget-height: 1.75rem; /* 28px */
  --padding: 0px;
  --spacing: 0.125rem;
  --margin: 0;
  --font-size: 1rem; /*14px*/
  --input-font-size: 0.75rem; /*12px;*/
  --slider-input-width: 1.4rem;
  --slider-input-min-width: 1.4rem;
  --folder-indent: 0.625rem;
}
