
<IfModule mod_rewrite.c>
  RewriteEngine On
  # Bei einer echten Subdomain zwingend auf "/" setzen,
  # da die Subdomain die neue Root-Ebene ist!
  RewriteBase /

  # Wenn die Datei existiert (z.B. /icons/512x512.png), lade sie direkt
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Alles andere an die index.html übergeben
  RewriteRule ^ index.html [L]
</IfModule>
